@font-face {
    font-family: 'norse-bold';
    src: url(./Norse-Bold.otf);
}

input[type=password]:focus {
    outline: none;
    border-color: red;
}

body {
    display: flex;
    margin: 0px 0px;
}
.img-section {
    margin: 0px 0px;
    background-image: url(karsten-winegeart-ZBUesmAQapY-unsplash.jpg);
    background-size: 100% 100%;
    width: 40vw;
    height: 100vh;
    position: relative;
}

.odin-logo {
    max-width: 100px;
}

.logo-section {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'norse-bold';
    color: white;
    font-size: xx-large;
    background-color: rgba(0, 0, 0, 0.248);
    margin-top: 10em;
}

.photo-creds {
    color: rgba(255, 255, 255, 0.423);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: 10px;
    left: 15%;
}

.content {
    background-color: rgb(244, 244, 244);
    font-family:Arial, Helvetica, sans-serif;
}

.content>h2 {
    padding: 40px;
}

form {
    background-color: white;
    padding: 40px;
    box-shadow: 0px 5px 5px 2px rgba(199, 197, 197, 0.893);
    margin: 20px 0px;
}

.name, .contacts, .password {
    display: flex;
    font-size: 12px;
}

.name>div, .contacts>div, .password>div {
    display: flex;
    flex-direction: column;
    margin-right: 80px;
    margin-bottom: 20px;
    width: 20em;
    
} 

input {
    line-height: 25px;
    border-radius: 5px;
    padding: 0px 0px;
    border-width: 1px;
}

button {
    margin: 40px;
    padding: 15px 70px;
    border-radius: 7px;
    border-color: rgb(12, 100, 100);
    background-color: rgb(12, 100, 100);
    color: white;
}

.login {
    margin-left: 40px;
}


